<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="O PCM é um portal que dispõe de uma base de dados central que armazena informações acerca dos casos da COVID-19 em Moçambique.">
        <meta name="author" content="Júlio Rafael">
    <!-- Open Graph Meta-->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="PCM">
    <meta property="og:title" content="PCM">
    <meta property="og:description" content="O PCM é um portal que dispõe de uma base de dados central que armazena informações acerca dos casos da COVID-19 em Moçambique.">
    <link rel="icon" href="/static/img/bg-pcm.jpg" type="image/x-icon">

    <title>Coronavírus - Portal da COVID-19 em Moçambique (PCM)</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <!-- Font-icon css-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet" type="text/css">

  </head>
  <body class="app sidebar-mini">
    <!-- Navbar-->
    <header class="app-header"><a class="app-header__logo" href="/admin/index">COVID-19 : PCM</a>
      <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
      <!-- Navbar Right Menu-->
      <ul class="app-nav">
        <li class="app-search">
          <input class="app-search__input" type="search" placeholder="Search">
          <button class="app-search__button"><i class="fa fa-search"></i></button>
        </li>
        <!--Notification Menu-->
        <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Show notifications"><i class="fa fa-bell-o fa-lg"></i></a>
          <ul class="app-notification dropdown-menu dropdown-menu-right">
            <li class="app-notification__title">You have 4 new notifications.</li>
            <div class="app-notification__content">
              <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></span>
                  <div>
                    <p class="app-notification__message">Lisa sent you a mail</p>
                    <p class="app-notification__meta">2 min ago</p>
                  </div></a></li>
              <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-danger"></i><i class="fa fa-hdd-o fa-stack-1x fa-inverse"></i></span></span>
                  <div>
                    <p class="app-notification__message">Mail server not working</p>
                    <p class="app-notification__meta">5 min ago</p>
                  </div></a></li>
              <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-success"></i><i class="fa fa-money fa-stack-1x fa-inverse"></i></span></span>
                  <div>
                    <p class="app-notification__message">Transaction complete</p>
                    <p class="app-notification__meta">2 days ago</p>
                  </div></a></li>
              <div class="app-notification__content">
                <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></span>
                    <div>
                      <p class="app-notification__message">Lisa sent you a mail</p>
                      <p class="app-notification__meta">2 min ago</p>
                    </div></a></li>
                <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-danger"></i><i class="fa fa-hdd-o fa-stack-1x fa-inverse"></i></span></span>
                    <div>
                      <p class="app-notification__message">Mail server not working</p>
                      <p class="app-notification__meta">5 min ago</p>
                    </div></a></li>
                <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-success"></i><i class="fa fa-money fa-stack-1x fa-inverse"></i></span></span>
                    <div>
                      <p class="app-notification__message">Transaction complete</p>
                      <p class="app-notification__meta">2 days ago</p>
                    </div></a></li>
              </div>
            </div>
            <li class="app-notification__footer"><a href="#">See all notifications.</a></li>
          </ul>
        </li>
        <!-- User Menu-->
        <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
          <ul class="dropdown-menu settings-menu dropdown-menu-right">
            <li><a class="dropdown-item" href="/admin/page-user"><i class="fa fa-user fa-lg"></i> Perfil</a></li>
            <li><a class="dropdown-item" href="/admin/logout"><i class="fa fa-sign-out fa-lg"></i> Sair</a></li>
          </ul>
        </li>
      </ul>
    </header>
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
      <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg" alt="User Image">
        <div>
          <p class="app-sidebar__user-name">Bem-vindo(a) a PCM</p>
          <!--<p class="app-sidebar__user-designation">Nome Utilizador</p>-->
        </div>
      </div>
      <ul class="app-menu">
        <li><a class="app-menu__item active" href="/admin/index"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Inicio</span></a></li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-laptop"></i><span class="app-menu__label">Casos</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" href="/admin/cases-list"><i class="icon fa fa-circle-o"></i> Lista</a></li>
            <li><a class="treeview-item" href="/admin/cases-create" rel="noopener"><i class="icon fa fa-circle-o"></i> Novo Registo</a></li>
          </ul>
        </li>
        <li><a class="app-menu__item" href="/admin/page-user"><i class="app-menu__icon fa fa-user"></i><span class="app-menu__label">Perfil</span></a></li>
        <li><a class="app-menu__item" href="/admin/logout"><i class="app-menu__icon fas fa-sign-out-alt"></i><span class="app-menu__label">Sair</span></a></li>
      </ul>
    </aside>
    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-dashboard"></i> Portal da COVID-19 (Coronavírus) em Moçambique</h1>
          <p>Registo de casos de COVID-19 em Moçambique</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item"><a href="#">Inicio</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-2">
          <div class="widget-small primary coloured-icon"><i class="icon fa fa-viruses fa-3x"></i>
            <div class="info">
              <h1>#</h1>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-lg-2">
          <div class="widget-small info coloured-icon"><i class="icon fa fa-users fa-3x"></i>
            <div class="info">
              <h4>Total</h4>
              {% for test in t %}
                <p><b>{{ test.testados }}</b></p>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-2">
          <div class="widget-small warning coloured-icon"><i class="icon fa fa-plus fa-3x"></i>
            <div class="info">
              <h4>Posit.</h4>
              {% for pos in p %}
                <p><b>{{ pos.positivos }}</b></p>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-2">
          <div class="widget-small warning coloured-icon"><i class="icon fa fa-minus fa-3x"></i>
            <div class="info">
              <h4>Negat.</h4>
              {% for neg in n %}
                <p><b>{{ neg.negativos }}</b></p>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-2">
          <div class="widget-small danger coloured-icon"><i class="icon fa fa-frown fa-3x"></i>
            <div class="info">
              <h4>Óbitos</h4>
              {% for obt in o %}
              <p><b>{{ obt.obitos }}</b></p>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-2">
          <div class="widget-small danger coloured-icon"><i class="icon fa fa-smile fa-3x"></i>
            <div class="info">
              <h4>Recup.</h4>
              {% for recup in r %}
                <p><b>{{ recup.recuperados }}</b></p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="row">


        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title text-center">Casos por Província</h3>

              <div class="col-md-12">
              <div class="tile">
                <div class="tile-body">
                  <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="sampleTable">
                      <thead>
                        <tr>
                          <th>Provincia</th>
                          <th>Positivos</th>
                          <th>Negativos</th>
                          <th>Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Maputo Cidade</td>
                          <td>
                            {% for mpCPs in mpCP %}
                              {{ mpCPs.mpCP }}
                            {% endfor %}
                          </td>
                          <td>
                            {% for mpCNs in mpCN %}
                              {{ mpCNs.mpCN }}
                            {% endfor %}
                          </td>
                          <td>
                            {% for mpCTs in mpCT %}
                              {{ mpCTs.mpCT }}
                            {% endfor %}
                          </td>
                        </tr>
                        <tr>
                          <td>Maputo Província</td>
                          <td>
                            {% for mpPPs in mpPP %}
                              {{ mpPPs.mpPP }}
                            {% endfor %}
                          </td>
                          <td>
                            {% for mpPNs in mpPN %}
                              {{ mpPNs.mpPN }}
                            {% endfor %}
                          </td>
                          <td>
                            {% for mpPTs in mpPT %}
                              {{ mpPTs.mpPT }}
                            {% endfor %}
                          </td>
                        </tr>
                        <tr>
                          <td>Gaza</td>
                          <td>
                            {% for gzPs in gzP %}
                              {{ gzPs.gzP }}
                            {% endfor %}
                          </td>
                          <td>
                            {% for gzNs in gzN %}
                              {{ gzNs.gzN }}
                            {% endfor %}
                          </td>
                          <td>
                            {% for gzTs in gzT %}
                              {{ gzTs.gzT }}
                            {% endfor %}
                          </td>
                        </tr>
                        <tr>
                          <td>Inhambane</td>
                          <td>
                            {% for imbPs in imbP %}
                              {{ imbPs.imbP }}
                            {% endfor %}
                          </td>
                          <td>
                            {% for imbNs in imbN %}
                              {{ imbNs.imbN }}
                            {% endfor %}
                          </td>
                          <td>
                            {% for imbTs in imbT %}
                              {{ imbTs.imbT }}
                            {% endfor %}
                          </td>
                        </tr>
                        <tr>
                          <td>Sofala</td>
                          <td>
                            {% for sfPs in sfP %}
                              {{ sfPs.sfP }}
                            {% endfor %}
                          </td>
                          <td>
                            {% for sfNs in sfN %}
                              {{ sfNs.sfN }}
                            {% endfor %}
                          </td>
                          <td>
                            {% for sfTs in sfT %}
                              {{ sfTs.sfT }}
                            {% endfor %}
                          </td>
                        </tr>
                        <tr>
                          <td>Manica</td>
                          <td>
                            {% for mnPs in mnP %}
                              {{ mnPs.mnP }}
                            {% endfor %}
                          </td>
                          <td>
                            {% for mnNs in mnN %}
                              {{ mnNs.mnN }}
                            {% endfor %}
                          </td>
                          <td>
                            {% for mnTs in mnT %}
                              {{ mnTs.mnT }}
                            {% endfor %}
                          </td>
                        </tr>
                        <tr>
                          <td>Tete</td>
                          <td>
                            {% for ttPs in ttP %}
                              {{ ttPs.ttP }}
                            {% endfor %}
                          </td>
                          <td>
                            {% for ttNs in ttN %}
                              {{ ttNs.ttN }}
                            {% endfor %}
                          </td>
                          <td>
                            {% for ttTs in ttT %}
                              {{ ttTs.ttT }}
                            {% endfor %}
                          </td>
                        </tr>
                        <tr>
                          <td>Zambezia</td>
                          <td>
                            {% for zmPs in zmP %}
                              {{ zmPs.zmP }}
                            {% endfor %}
                          </td>
                          <td>
                            {% for zmNs in zmN %}
                              {{ zmNs.zmN }}
                            {% endfor %}
                          </td>
                          <td>
                            {% for zmTs in zmT %}
                              {{ zmTs.zmT }}
                            {% endfor %}
                          </td>
                        </tr>

                        <tr>
                          <td>Niassa</td>
                          <td>
                            {% for nsPs in nsP %}
                              {{ nsPs.nsP }}
                            {% endfor %}
                          </td>
                          <td>
                            {% for nsNs in nsN %}
                              {{ nsNs.nsN }}
                            {% endfor %}
                          </td>
                          <td>
                            {% for nsTs in nsT %}
                              {{ nsTs.nsT }}
                            {% endfor %}
                          </td>
                        </tr>
                        <tr>
                          <td>Nampula</td>
                          <td>
                            {% for npPs in npP %}
                              {{ npPs.npP }}
                            {% endfor %}
                          </td>
                          <td>
                            {% for npNs in npN %}
                              {{ npNs.npN }}
                            {% endfor %}
                          </td>
                          <td>
                            {% for npTs in npT %}
                              {{ npTs.npT }}
                            {% endfor %}
                          </td>
                        </tr>
                        <tr>
                          <td>Cabo Delgado</td>
                          <td>
                            {% for cdPs in cdP %}
                              {{ cdPs.cdP }}
                            {% endfor %}
                          </td>
                          <td>
                            {% for cdNs in cdN %}
                              {{ cdNs.cdN }}
                            {% endfor %}
                          </td>
                          <td>
                            {% for cdNs in cdN %}
                              {{ cdNs.cdN }}
                            {% endfor %}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title text-center">Casos por Gênero</h3>

             <div class="col-md-12">
              <div class="tile">
                <div class="tile-body">
                  <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="sampleTable">
                      <thead>
                        <tr>
                          <th></th>
                          <th>Masculino</th>
                          <th>Feminino</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Positivos</td>
                          <td>
                            {% for mPs in mP %}
                              {{ mPs.mP }}
                            {% endfor %}
                          </td>
                          <td>
                            {% for fPs in fP %}
                              {{ fPs.fP }}
                            {% endfor %}
                          </td>
                        </tr>
                        <tr>
                          <td>Negativos</td>
                          <td>
                            {% for mNs in mN %}
                              {{ mNs.mN }}
                            {% endfor %}
                          </td>
                          <td>
                            {% for fNs in fN %}
                              {{ fNs.fN }}
                            {% endfor %}
                          </td>
                        </tr>
                        <tr>
                          <td>Recuperados</td>
                          <td>
                            {% for mRs in mR %}
                              {{ mRs.mR }}
                            {% endfor %}
                          </td>
                          <td>
                            {% for fRs in fR %}
                              {{ fRs.fR }}
                            {% endfor %}
                          </td>
                        </tr>
                        <tr>
                          <td>Óbitos</td>
                          <td>
                            {% for mOs in mO %}
                              {{ mOs.mO }}
                            {% endfor %}
                          </td>
                          <td>
                            {% for fOs in fO %}
                              {{ fOs.fO }}
                            {% endfor %}
                          </td>
                        </tr>
                        <tr>
                          <td>Total testados</td>
                          <td>
                            {% for mTs in mT %}
                              {{ mTs.mT }}
                            {% endfor %}
                          </td>
                          <td>
                            {% for fTs in fT %}
                              {{ fTs.fT }}
                            {% endfor %}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </main>
    <!-- Essential javascripts for application to work-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.4/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/0.7.8/pace.min.js"></script>
    <!-- Page specific javascripts-->
    <!--<script type="text/javascript" src="/static/js/plugins/chart.js"></script>-->

    <!--<script type="text/javascript">-->
    <!--  var data = {-->
    <!--  	labels: ["January", "February", "March", "April", "May"],-->
    <!--  	datasets: [-->
    <!--  		{-->
    <!--  			label: "My First dataset",-->
    <!--  			fillColor: "rgba(220,220,220,0.2)",-->
    <!--  			strokeColor: "rgba(220,220,220,1)",-->
    <!--  			pointColor: "rgba(220,220,220,1)",-->
    <!--  			pointStrokeColor: "#fff",-->
    <!--  			pointHighlightFill: "#fff",-->
    <!--  			pointHighlightStroke: "rgba(220,220,220,1)",-->
    <!--  			data: [65, 59, 80, 81, 56]-->
    <!--  		},-->
    <!--  		{-->
    <!--  			label: "My Second dataset",-->
    <!--  			fillColor: "rgba(151,187,205,0.2)",-->
    <!--  			strokeColor: "rgba(151,187,205,1)",-->
    <!--  			pointColor: "rgba(151,187,205,1)",-->
    <!--  			pointStrokeColor: "#fff",-->
    <!--  			pointHighlightFill: "#fff",-->
    <!--  			pointHighlightStroke: "rgba(151,187,205,1)",-->
    <!--  			data: [28, 48, 40, 19, 86]-->
    <!--  		}-->
    <!--  	]-->
    <!--  };-->
    <!--  var pdata = [-->
    <!--  	{-->
    <!--  		value: 300,-->
    <!--  		color: "#46BFBD",-->
    <!--  		highlight: "#5AD3D1",-->
    <!--  		label: "Complete"-->
    <!--  	},-->
    <!--  	{-->
    <!--  		value: 50,-->
    <!--  		color:"#F7464A",-->
    <!--  		highlight: "#FF5A5E",-->
    <!--  		label: "In-Progress"-->
    <!--  	}-->
    <!--  ]-->

    <!--  var ctxl = $("#lineChartDemo").get(0).getContext("2d");-->
    <!--  var lineChart = new Chart(ctxl).Line(data);-->

    <!--  var ctxp = $("#pieChartDemo").get(0).getContext("2d");-->
    <!--  var pieChart = new Chart(ctxp).Pie(pdata);-->
    <!--</script>-->
  </body>
</html>